@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

:root {
  --main-color: rgba(255, 255, 255, 1);
  --main-color-active: rgb(213, 206, 206);

  --first-color: #646693;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #070a4e;
  color: var(--main-color);
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: calc(0.8rem + 0.625vw);
  line-height: 1.185;
}

#__next {
  display: flex;
}

a {
  color: var(--main-color);
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

a:active,
a:hover {
  color: var(--main-color-active);
}

ul li {
  list-style-type: none;
}

.btn {
  background-color: transparent;
  border-radius: 5rem;
  color: var(--main-color);
  border: 0.2rem solid var(--main-color);
  padding: calc(0.75rem + 0.9615vh) calc(2.525rem + 1.97265vw);
  font-size: calc(0.6rem + 0.468vw);
}

.btn:active {
  scale: 0.98;
}

.gradient-01 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  height: calc(10rem + 15.625vw);
  width: calc(10rem + 27.777vw);
  background: #65c4fa;
  filter: blur(150px);
}

/* NAV */
.header {
  margin: calc(1.25rem + 1.7361vh) calc(3.5rem + 2.734375vw)
    calc(4.25rem + 5.90277vh) calc(1.25rem + 0.9765vw);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.953vw;
  margin-left: auto;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.nav__menu {
  display: flex;
  gap: 1.17vw;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.item__text {
  font-family: "Inter", "sans-serif";
  font-size: calc(0.8rem + 0.625vw);
  font-weight: 400;
}

.nav-btn {
  display: none;
  background: none;
  border: none;
  z-index: 10;
}

/* main */
.main {
  flex: 1;
}

/* Aside */
.aside {
  position: sticky;
  display: flex;
  align-items: center;

  top: 0;
  left: 0;
  height: 100vh;
  padding-left: calc(1.25rem + 0.9765vw);
}

.aside__links {
  display: flex;
  flex-direction: column;
  gap: 4.861vh;
}

.aside__link {
  width: 2rem;
  height: 2rem;
}

/* product */

.product {
  display: flex;
  align-items: center;
  margin: 0 calc(4.45rem + 6.953125vw);
}

.product__wraper {
  flex-grow: 10;
}
.product__img {
  flex-grow: 1;
}

.product__text {
  margin-bottom: calc(2.35rem + 3.263888vh);
}

.text__title {
  font-size: calc(2.4rem + 1.875vw);
  font-weight: 500;
  margin-bottom: calc(0.9rem + 1.25vh);
}

.text__desc {
  max-width: calc(24.4rem + 18.78125vw);
}

.facts__title {
  margin-bottom: calc(0.55rem + 0.763888vh);
  font-weight: 500;
}

.facts__desc {
  max-width: calc(16.75rem + 13.0859vw);
  font-size: calc(0.7rem + 0.546875vw);
  margin-bottom: calc(2.4rem + 3.3333vh);
}

/* card */

.facts__card {
  display: flex;
  flex-wrap: wrap;
  gap: calc(0.75rem + 0.5859vw);
  margin-bottom: calc(0.65rem + 0.90277vh);
}

.card__item {
  background-color: #312fa0;
  flex-basis: 11.7rem;
}

.card__top {
  padding: 2rem 0.1rem;
  text-align: center;
}

.card__bottom {
  padding: 1rem 3.4rem;
  text-align: center;
  background-color: var(--first-color);
}

.item__title {
  font-weight: 400;
  white-space: nowrap;
  padding-bottom: calc(0.5rem + 0.69444vh);
}

.item__gramm {
  font-size: calc(1.2rem + 0.9375vw);
  font-weight: 600;
}

.item__gramm {
  font-weight: 400;
}

.product__img img {
  width: calc(15vw + 15vh);
  object-fit: cover;

  filter: drop-shadow(-5mm 10mm 15mm rgb(0, 0, 0));
}

@media screen and (min-width: 1285px) {
  .aside__link {
    width: 1.5625vw;
    height: 2.7777vh;
  }
}

@media only screen and (max-width: 1000px) {
  .header {
    margin-bottom: 2rem;
  }

  .product {
    margin: 0 2rem;
  }

  .nav-btn {
    display: block;
  }

  .nav {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--first-color);
    transition: 1s;
    z-index: 10;
  }

  .nav__menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  .responsive_nav {
    transform: translateY(100vh);
  }
}

@media only screen and (max-width: 646px) {
  .product {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .product__img {
    order: -1;
  }
}
